
.img-upload {
    margin-top: 100px;
}

.container {
    margin: 100px auto;
    width: max-content;
    margin: 70px auto;
}

#cropImage {
    margin: -50px auto;
    width: 50%;
    display: none;
}

p {
    margin-bottom: -95px;
}

#img {
    display: none;
}

#firstCanvas, #canvas {
    display: none;
}
