
.img-upload {
    margin-top: 100px;
}

.container {
    margin: 100px auto;
    width: 50%;
}

p {
    margin-bottom: -95px;
}

#img {
    display: none;
}

#imgcont {
    width: 50%;
}

#container {
    display: flex;
}